@import "../settings.scss";

.main_content-home {
    padding: 120px 0 140px;
    text-align: center;

    @include desktop {
        padding: 140px 0 240px;
    }

    .dots_set {
        display: flex;
        justify-content: center;
        gap: 18px;
        align-items: center;
        margin-bottom: 64px;

        @include desktop {
            margin-bottom: 84px;
            gap: 42px;
        }

        img {
            width: 5%;

            @include desktop {
                width: auto;
            }
        }
    }

    .content_subtitle {
        font-size: 32px;
        color: $titleColor;
        text-align: center;
        margin-bottom: 36px;

        @include desktop {
            font-size: 42px;
        }
    }

    .content_text {
        font-size: 28px;

        @include desktop {
            font-size: 36px;
        }
    }
}
