@import "../settings.scss";

.main_content-home {
    margin: 160px auto;

    .dots_set {
        display: flex;
        justify-content: center;
        gap: 36px;
        align-items: center;
        margin-bottom: 84px;
    }

    .content_subtitle {
        font-size: 48px;
        color: $titleColor;
        text-align: center;
        margin-bottom: 36px;
    }
}
