@import "../../styles/settings.scss";

.popup_container {
    .popup_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 10001;
    }

    .popup {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: #b4b4b4;
        padding-top: 36px;
        z-index: 10002;

        @include desktop {
            flex-direction: row;
            width: 720px;
            height: 320px;
        }

        &.hidden {
            display: none;
        }

        &_elem {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: $colorWhite;
            text-align: center;

            @include desktop {
                width: 33%;
            }

            &-description {
                font-size: 18px;
                padding: 8px;
            }

            &-title {
                font-size: 18px;
                font-weight: 600;
                color: $thirdNavbarColor;
                padding-bottom: 24px;
            }

            &.popup_image {
                @include desktop {
                    border-inline: 1px solid $colorWhite;
                }

                img {
                    width: 50%;
                    align-self: center;
                }
            }
        }

        &_close {
            position: absolute;
            width: 25px;
            height: 25px;
            right: 15px;
            top: 12px;
            cursor: pointer;
        }
    }
}
