@import "../../styles/settings.scss";

.main_content-projects {
    padding: 60px 0 140px;
    position: relative;

    @include desktop {
        padding: 60px 0 240px;
    }

    .content_set_projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .content_project-tile {
            width: 180px;
            height: 180px;
            background-color: $stickerBackgroundColor;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 25px 20px;
            text-decoration: none;
            background-image: unset;

            @include desktop {
                width: 250px;
                height: 250px;
                margin: 30px 90px;
            }

            .content_text {
                width: 100%;
                text-align: center;
                font-size: 18px;
                padding: 8px;
                color: $colorWhite;
                background-color: rgba(0,102,102, 0.6);

                @include desktop {
                    font-size: 28px;
                    padding: 10px;
                }
            }

            .project_links {
                display: none;
            }

            &:hover {
                box-shadow: 0px 0px 0px 5px $thirdNavbarColor inset;

                .content_text {
                    display: none;
                }

                .project_links {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;
                    background-color: $stickerBackgroundColor;
                    width: 100%;
                    box-shadow:
                        5px 0 $thirdNavbarColor inset,
                        -5px 0 $thirdNavbarColor inset;
                    padding: 7px 0;

                    @include desktop {
                        gap: 30px;
                        padding: 10px 0;
                    }

                    .project_link {
                        cursor: pointer;
                        
                        img {
                            width: 36px;
                            height: 36px;

                            @include desktop {
                                width: 44px;
                                height: 44px;
                            }
                        }
                    }
                }
            }
        }
    }
}
