@import "../../styles/settings.scss";

.main_content-projects {
    margin-bottom: 420px;

    .content_set_projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .content_project-tile {
            width: 250px;
            height: 250px;
            background-color: $stickerBackgroundColor;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 90px;
            text-decoration: none;

            .content_text {
                text-align: center;
                font-size: 28px;
                padding: 10px;
                color: $thirdNavbarColor;
            }

            .project_links {
                display: none;
            }

            &:hover {
                box-shadow: 0px 0px 0px 10px $thirdNavbarColor inset;
                background-image: url(../../images/project_wedding_flowers.png);

                .content_text {
                    display: none;
                }

                .project_links {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 40px;
                    background-color: $stickerBackgroundColor;
                    width: 100%;
                }
            }
        }
    }
}