@import "partials/home.scss";
@import "partials/about.scss";
@import "partials/projects.scss";
@import "partials/contact.scss";
@import "partials/navbar.scss";

body {
    margin: 0;

    p, a {
        font-family: $mainFont;
    }
}

.portfolio-main {
    display: flex;
    width: 100%;

    .main_content {
        background-color: $mainBackgroundColor;
        width: 80%;
        height: 100%;

        .content_title {
            font-family: $mainFont;
            font-size: 64px;
            color: $titleColor;
            text-align: center;
            margin-bottom: 84px;
            text-shadow: 1px 1px #818589;
        }

        .content_text {
            color: $titleColor;
        }
    }
}