// Main settings
$titleColor: #B4B4B4;

// Navbar colors
$firstNavbarColor: #66B2B2;
$secondtNavbarColor: #008080;
$thirdNavbarColor: #006666;
$fourthtNavbarColor: #004C4C;

// Content Wrapper
$mainBackgroundColor: #FFFFFD;