@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Homemade+Apple&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Peddana&family=Stoke:wght@300;400&display=swap');

// Main settings
$colorBlack: #000000;
$colorWhite: #ffffff;
$titleColor: #B4B4B4;
$textColor: #363535;
$stickerBackgroundColor: #D9D9D9;
$mainFont: "Nanum Myeongjo", serif;

// Navbar colors
$firstNavbarColor: #66B2B2;
$secondtNavbarColor: #008080;
$thirdNavbarColor: #006666;
$fourthtNavbarColor: #004C4C;

// Content Wrapper
$mainBackgroundColor: #FFFFFD;