@import "../../styles/settings.scss";

.content_project-tile {
    width: 250px;
    height: 250px;
    background-color: $stickerBackgroundColor;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 90px;
}