@import "../../styles/settings.scss";

.navbar {
    background-color: $firstNavbarColor;
    width: 20%;
    display: block;

    .navbar_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 140px;
        position: fixed;
        text-align: center;
        width: inherit;
        padding: 80px 0 36px;

        img {
            width: fit-content;
            align-self: center;
        }

        .wrapper_nav-text {
            display: flex;
            flex-direction: column;
            gap: 36px;

            .nav-text {
                font-size: 36px;
                color: white;
                text-decoration: none;
            }
        }

        .wrapper_social-media {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}